{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="flex items-center min-h-screen p-6 bg-gray-50 ">
		<div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl ">
			<div class="flex flex-col overflow-y-auto md:flex-row">
				<div class="h-32 md:h-auto md:w-1/2">
					<img aria-hidden="true" class="object-cover w-full h-full " src="{{asset('assets/img/login.jpg')}}" alt="Office"/>
					<img aria-hidden="true" class="hidden object-cover w-full h-full " src="{{asset('assets/img/login.jpg')}}" alt=" Office"/>
				</div>
				<div class=" flex items-center justify-center p-6 sm:p-12 md:w-1/2">
					<div class="w-full">
						<h1 class="mb-4 text-xl font-semibold text-gray-700 ">
							Welcome to Wired beauty
						</h1>
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% for message in app.flashes('message') %}
								<div class="alert alert-success m-l-15 m-r-15 m-b-0 m-t-15" role="alert">
									{{ message}}
								</div>
							{% endfor %}
							<label class="block text-sm">
								<span class="text-gray-700">Email</span>
								<input name="email" autocomplete="email" required autofocus type="email" id="inputEmail" value="{{ last_username }}" placeholder="your@email.com" class="block w-full mt-1 text-sm focus:border-purple-400 focus:outline-none focus:shadow-outline-purple form-input"/>
							</label>
							<label class="block mt-4 text-sm">
								<span class="text-gray-700">Password</span>
								<input name="password" type="password" id="inputPassword" autocomplete="current-password" require placeholder="Password" class="block w-full mt-1 text-sm focus:border-purple-400 focus:outline-none focus:shadow-outline-purple form-input"/>
							</label>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<input type="checkbox" class="mr-2" name="_remember_me">
							<label>
								Remember me
							</label>
							<!-- You should use a button here, as the anchor is only used for the example  -->
							<button type="submit" value="Log In" class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
								Log in
							</button>

						</form>
						<hr class="my-8"/>


						<p class="mt-4">
							<a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline" href="{{ path('app_forgotten_password') }}">
								Forgot your password?
							</a>
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
