{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="bg-white font-family-karla h-screen bloc text-black">

		<div
			class="w-full flex flex-wrap">

			<!-- Login Section -->
			<div class="w-full flex flex-col md:w/3">

				<div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
					<img src="{{asset('assets')}}/img/app_logo.jpg" style="border-radius: 30px; height: 60px; width:60px" class="shadow rounded  p-2" alt="Logo"></img>
			</div>

			<div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
				<p class="text-center text-3xl">Welcome</p>

				<form method="post" class="flex flex-col pt-3 md:pt-8">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.username }},
							<a class="text-red-400" href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}
					<div class="flex flex-col pt-4">
						<label for="inputEmail" class="text-lg">Email</label>
						<input name="email" class="form-control" autocomplete="email" required autofocus type="email" id="inputEmail" value="{{ last_username }}" placeholder="your@email.com" style="filter: drop-shadow(0 0 0.15rem gray); height: 40px; padding-left: 5px; padding-right: 5px; margin-top: 10px" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
					</div>

					<div class="flex flex-col pt-4">
						<label for="inputPassword" class="text-lg">Password</label>
						<input name="password" type="password" id="inputPassword" class="form-control" autocomplete="current-password" require placeholder="Password" style="filter: drop-shadow(0 0 0.15rem gray); height: 40px; padding-left: 5px; padding-right: 5px; margin-top: 10px" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


					<div class="flex flex-row  items-center w-full  mt-4">

						<input type="checkbox" class="mr-2" name="_remember_me">
						<label>
							Remember me
						</label>
					</div>


					<input type="submit" value="Log In" class="bkg-gradient-3 text-white font-bold text-lg hover:bg-gray-700 p-2 mt-6">

				</form>
				<div class="text-center pt-12 pb-12">
					<p>Don't have an account?
						<a href="{{ path('app_register') }}" class="underline font-semibold">Register here.</a>
					</p>
				</div>
			</div>

		</div>
	</div>

</div>{% endblock %}
