{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="bg-white font-family-karla h-screen  bloc text-black">

		<div class="w-full flex flex-wrap justify-center items-center pt-4">


			<div
				class="w-full  flex flex-col md:w-2/3 pt-8">
				<div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
					<p class="text-center text-3xl">Create customer</p>

					{% for flashError in app.flashes('verify_email_error') %}
						<div class="alert alert-danger  mt-3 mb-3" role="alert">{{ flashError }}</div>
					{% endfor %}

					{{ form_start(registrationForm) }}
					{{ form_row(registrationForm.email, { 'attr': {'class': 'mb-4 mt-2 flex flex-col w-full shadow appearance-none border rounded w-full py-2.5 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline'} }) }}
					{{ form_row(registrationForm.company, { 'attr': {'class': 'mt-2 mb-4 flex flex-col w-full shadow appearance-none border rounded w-full py-2.5 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline'} }) }}
					{{ form_row(registrationForm.lastname, { 'attr': {'class': 'mt-2 mb-4 flex flex-col w-full shadow appearance-none border rounded w-full py-2.5 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline'} }) }}
					{{ form_row(registrationForm.firstname, { 'attr': {'class': 'mt-2 mb-4 flex flex-col w-full shadow appearance-none border rounded w-full py-2.5 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline'} }) }}
					{{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            'attr': {'class': 'flex flex-col w-full shadow appearance-none border rounded w-full py-2.5 px-3 mt-2mb-4  text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline'}
        }) }}
					<div class="mt-4">
						{{ form_row(registrationForm.imageFile, { label: 'Upload your logo', 'attr':{'class': 'bg-gray-100  mt-2'}})}}
					</div>
					<div class="flex flex-row w-full justify-between">
						{{ form_row(registrationForm.agreeTerms, {'attr':{'class': 'bg-red-500 mx-2 mt-4'}}) }}
						{{ form_row(registrationForm.role, { label: 'Admin Role ', 'attr':{'class': 'bg-red-500 mx-2 mt-4'}}) }}
					</div>
					<button type="submit" class="w-full bkg-gradient-3  text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">Register</button>
					{{ form_end(registrationForm) }}
				</div>
			</div>

		</div>
	</div>
{% endblock %}
