{% extends 'base.html.twig' %}

{% block title %}Reset password | Wired Beauty
{% endblock %}

{% block body %}
  <div class="bg-white font-family-karla h-screen  bloc text-black">

    <div class="w-full flex flex-wrap justify-center items-center pt-4">

      <div class="w-full  flex flex-col md:w-2/3 pt-8">
        <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
          <p class="text-center text-3xl">Mot de passe oublié ?</p>

          {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger  mt-3 mb-3" role="alert">{{ flashError }}</div>
          {% endfor %}

          {{ form_start(form) }}
          <div class="mb-10">
            {{ form_row(form.password.password, { 'attr': {'class': 'mb-4 mt-2 flex flex-col w-full shadow appearance-none border rounded w-full py-2.5 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline'} }) }}
          </div>
          <div class="text-red">
            {{form_errors(form.password.confirm, {'attr': {'class': 'text-red'}})}}
          </div>

          <div class="mt-10">
            {{ form_row(form.password.confirm, { 'attr': {'class': 'mb-4 mt-2 flex flex-col w-full shadow appearance-none border rounded w-full py-2.5 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline'} }) }}
         </div>
          </div class="text-red">
          {{form_errors(form.password.confirm, {'attr': {'class': 'text-red'}})}}
          <div>

          <button type="submit" class="w-full bkg-gradient-3  text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">Envoyer</button>
          {{ form_end(form) }}
        </div>
      </div>

    </div>
  </div>
{% endblock %}
